jupyter-notebook-submissions/pyterrier-notebook.ipynb
jupyter-notebook-submissions/index_path_j/data.direct.bf
jupyter-notebook-submissions/index_path_j/data.document.fsarrayfile
jupyter-notebook-submissions/index_path_j/data.inverted.bf
jupyter-notebook-submissions/index_path_j/data.lexicon.fsomapfile
jupyter-notebook-submissions/index_path_j/data.lexicon.fsomaphash
jupyter-notebook-submissions/index_path_j/data.lexicon.fsomapid
jupyter-notebook-submissions/index_path_j/data.meta-0.fsomapfile
jupyter-notebook-submissions/index_path_j/data.meta.idx
jupyter-notebook-submissions/index_path_j/data.meta.zdata
jupyter-notebook-submissions/index_path_j/data.properties
